styles.css
body {
    font-family: 'Arial', sans-serif;
}
.big-font {
    font-size: 20px !important;
    text-align: center;
}
.no-meeting {
    font-size: 20px !important;
}
h1{
    font-size: 24px !important;
    text-align: center;
}
.p {
    font-size: 20px !important;
}
.header-font {
    font-size: 28px !important;
    font-weight: bold;
    color: #0074D9;
}
.stButton {
    display: flex;
    justify-content: center;
}
.stButton>button {
    background-color: #008CBA;
    color: white;
    font-size: 18px;
    padding: 10px 24px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}
.stButton>button:hover {
    background-color: #005f80;
}
.stTextInput>div>div>textarea {
    font-size: 18px;
    padding: 10px;
}
.stDataFrameContainer {
    margin-top: 20px;
}
.sidebar .sidebar-content {
    background-color: #f0f2f6;
}

/* Blinking animation */
@keyframes blink {
    0% {
        color: black;
    }
    50% {
        color: red;
    }
    100% {
        color: black;
    }
}

/* Apply blinking animation to the text */
.blinking-text {
    animation: blink 1s infinite;
}
